body {
  padding-top: 40px;
  padding-bottom: 40px;
}

.form-signin {;
  max-width: 330px
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#error
{

    color: red;

}
.btnCustome{
       background-color: #e74c3c;
    border-color: #73261E;
    font-family: cursive;
}
.btnCustome:hover{
       background-color: #c0392b;
    border-color: #c0392b;
    font-family: cursive;
}
.btnCustome:action{
       background-color: #c0392b;
    border-color: #c0392b;
    font-family: cursive;
}
.textBoxCustome{
border-color: #bdc3c7;
}
.tit{
font-family: cursive;
    color: #e74c3c;
}
.backgroundCustome{
    background-color: #ecf0f1;
	    padding-left: 40px;
    padding-right: 40px;
    float: right;
	width:80%;
}
.navbar-right {
      margin-right: 0px;
}
.btn-info{
    font-size: large;
}